* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .main-container {
  background-image: url(/img/background.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .main-container .container {
  padding-top: 1rem;
  color: whitesmoke;
  width: 95%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .main-container .container .logo {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
}

header .main-container .container .search {
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .main-container .content {
  width: 30rem;
  height: 10rem;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .main-container .content h1 {
  font-size: 50px;
}

header .main-container .content .box {
  width: 10rem;
  height: 3rem;
  border: 1px solid whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-container .content .box a {
  color: whitesmoke;
}

header .navbar {
  width: 100%;
}

header .navbar ul {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  font-size: 20px;
  font-weight: 700;
}

header .navbar ul li a {
  color: black;
}

header .navbar ul li a:hover {
  color: grey;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .content1 img {
  max-width: 380px;
  max-height: 450px;
}

main .content2 {
  width: 30rem;
}

main .content2 h1 {
  padding-top: 1rem;
}

main .content2 p {
  padding-top: 1rem;
  width: 30rem;
  font-weight: 600;
}

footer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .container .social {
  padding-bottom: 10px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 25px;
}

footer .container .social a {
  color: black;
}

@media (max-width: 680px) {
  body header .navbar ul {
    height: 15rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header .navbar ul li {
    margin: 0.5rem;
  }
  body main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .content1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .content1 img {
    width: 100%;
  }
  body main .content2 {
    width: 18rem;
  }
  body main .content2 h1 {
    padding-top: 1rem;
  }
  body main .content2 p {
    padding-top: 1rem;
    width: 100%;
    font-weight: 600;
  }
}
/*# sourceMappingURL=style.css.map */